@charset "utf-8";
@import "mixins";
@import "variables";
@import './sprites/_alpha.png';
@import './sprites/_icon-jingling.png';
.worldBtn {
  @include icon-jingling_a_new;
  text-indent: -99999px;
  background-color: green;
}

body {}

h2 {
  @include when(mobile) {
    color: blue;
  }
  ;
}
