@mixin xinshoufuli_a1_new($mw:null,$mh:null) {
  background-image: url(sprites/xinshoufuli.jpg);
  width: 965px;
  height: 160px;
  @if $mw != null {
      width: $mw;
      height: ($mw*(160/965));
  }
  @if $mh != null {
      width: ($mh*(965/160));
      height:$mh;
  }
  @include bgp_newabs(965,160,698,0,1663,1243);
}


@function  xinshoufuli_a1_inspect($key:null) {
  $ix:-698px;
  $x:698;
  $y:0;
  $iy:0px;
  $iw:965px;
  $ih:160px;
  $width:965;
  $height:160;
  $img:"sprites/xinshoufuli.jpg";
  $totalWidth:1663;
  $totalHeight:1243;
  @if $key{
    @return map-get((px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height),$key);
  }@else{
    @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
  }

}

@mixin xinshoufuli_a2_new($mw:null,$mh:null) {
  background-image: url(sprites/xinshoufuli.jpg);
  width: 693px;
  height: 533px;
  @if $mw != null {
      width: $mw;
      height: ($mw*(533/693));
  }
  @if $mh != null {
      width: ($mh*(693/533));
      height:$mh;
  }
  @include bgp_newabs(693,533,0,0,1663,1243);
}


@function  xinshoufuli_a2_inspect($key:null) {
  $ix:0px;
  $x:0;
  $y:0;
  $iy:0px;
  $iw:693px;
  $ih:533px;
  $width:693;
  $height:533;
  $img:"sprites/xinshoufuli.jpg";
  $totalWidth:1663;
  $totalHeight:1243;
  @if $key{
    @return map-get((px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height),$key);
  }@else{
    @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
  }

}

@mixin xinshoufuli_a3_new($mw:null,$mh:null) {
  background-image: url(sprites/xinshoufuli.jpg);
  width: 230px;
  height: 420px;
  @if $mw != null {
      width: $mw;
      height: ($mw*(420/230));
  }
  @if $mh != null {
      width: ($mh*(230/420));
      height:$mh;
  }
  @include bgp_newabs(230,420,0,823,1663,1243);
}


@function  xinshoufuli_a3_inspect($key:null) {
  $ix:0px;
  $x:0;
  $y:823;
  $iy:-823px;
  $iw:230px;
  $ih:420px;
  $width:230;
  $height:420;
  $img:"sprites/xinshoufuli.jpg";
  $totalWidth:1663;
  $totalHeight:1243;
  @if $key{
    @return map-get((px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height),$key);
  }@else{
    @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
  }

}

@mixin xinshoufuli_s1_new($mw:null,$mh:null) {
  background-image: url(sprites/xinshoufuli.jpg);
  width: 357px;
  height: 350px;
  @if $mw != null {
      width: $mw;
      height: ($mw*(350/357));
  }
  @if $mh != null {
      width: ($mh*(357/350));
      height:$mh;
  }
  @include bgp_newabs(357,350,698,165,1663,1243);
}


@function  xinshoufuli_s1_inspect($key:null) {
  $ix:-698px;
  $x:698;
  $y:165;
  $iy:-165px;
  $iw:357px;
  $ih:350px;
  $width:357;
  $height:350;
  $img:"sprites/xinshoufuli.jpg";
  $totalWidth:1663;
  $totalHeight:1243;
  @if $key{
    @return map-get((px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height),$key);
  }@else{
    @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
  }

}

@mixin xinshoufuli_s2_new($mw:null,$mh:null) {
  background-image: url(sprites/xinshoufuli.jpg);
  width: 357px;
  height: 280px;
  @if $mw != null {
      width: $mw;
      height: ($mw*(280/357));
  }
  @if $mh != null {
      width: ($mh*(357/280));
      height:$mh;
  }
  @include bgp_newabs(357,280,0,538,1663,1243);
}


@function  xinshoufuli_s2_inspect($key:null) {
  $ix:0px;
  $x:0;
  $y:538;
  $iy:-538px;
  $iw:357px;
  $ih:280px;
  $width:357;
  $height:280;
  $img:"sprites/xinshoufuli.jpg";
  $totalWidth:1663;
  $totalHeight:1243;
  @if $key{
    @return map-get((px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height),$key);
  }@else{
    @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
  }

}

@mixin xinshoufuli_s3_new($mw:null,$mh:null) {
  background-image: url(sprites/xinshoufuli.jpg);
  width: 357px;
  height: 330px;
  @if $mw != null {
      width: $mw;
      height: ($mw*(330/357));
  }
  @if $mh != null {
      width: ($mh*(357/330));
      height:$mh;
  }
  @include bgp_newabs(357,330,1060,165,1663,1243);
}


@function  xinshoufuli_s3_inspect($key:null) {
  $ix:-1060px;
  $x:1060;
  $y:165;
  $iy:-165px;
  $iw:357px;
  $ih:330px;
  $width:357;
  $height:330;
  $img:"sprites/xinshoufuli.jpg";
  $totalWidth:1663;
  $totalHeight:1243;
  @if $key{
    @return map-get((px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height),$key);
  }@else{
    @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
  }

}

@mixin xinshoufuli_s4_new($mw:null,$mh:null) {
  background-image: url(sprites/xinshoufuli.jpg);
  width: 357px;
  height: 280px;
  @if $mw != null {
      width: $mw;
      height: ($mw*(280/357));
  }
  @if $mh != null {
      width: ($mh*(357/280));
      height:$mh;
  }
  @include bgp_newabs(357,280,362,538,1663,1243);
}


@function  xinshoufuli_s4_inspect($key:null) {
  $ix:-362px;
  $x:362;
  $y:538;
  $iy:-538px;
  $iw:357px;
  $ih:280px;
  $width:357;
  $height:280;
  $img:"sprites/xinshoufuli.jpg";
  $totalWidth:1663;
  $totalHeight:1243;
  @if $key{
    @return map-get((px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height),$key);
  }@else{
    @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
  }

}

@mixin xinshoufuli_s5_new($mw:null,$mh:null) {
  background-image: url(sprites/xinshoufuli.jpg);
  width: 357px;
  height: 280px;
  @if $mw != null {
      width: $mw;
      height: ($mw*(280/357));
  }
  @if $mh != null {
      width: ($mh*(357/280));
      height:$mh;
  }
  @include bgp_newabs(357,280,724,538,1663,1243);
}


@function  xinshoufuli_s5_inspect($key:null) {
  $ix:-724px;
  $x:724;
  $y:538;
  $iy:-538px;
  $iw:357px;
  $ih:280px;
  $width:357;
  $height:280;
  $img:"sprites/xinshoufuli.jpg";
  $totalWidth:1663;
  $totalHeight:1243;
  @if $key{
    @return map-get((px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height),$key);
  }@else{
    @return (px_height:$ih,px_width:$iw,px_x:$ix,px_y:$iy,img:$img,totalHeight:$totalHeight,totalWidth:$totalWidth,x:$x,y:$y,width:$width,height:$height);
  }

}

